@model BadmintonCourts.Models.Court

@{
    ViewData["Title"] = "Create Court";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<div class="center-container">
    <div class="center-inner" style="max-width: 600px;">
        <!-- Wider container -->
        <form asp-action="Create" method="post">
            <h2 class="text-center mb-4">Enter court details</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

            <div class="form-floating mb-3">
                <select asp-for="LocationID" class="form-select" asp-items="ViewBag.LocationID"></select>
                <label asp-for="LocationID">Location</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="CourtName" class="form-control" placeholder="Court Name" />
                <label asp-for="CourtName">Court Name</label>
                <span asp-validation-for="CourtName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Price" class="form-control" placeholder="Price" />
                <label asp-for="Price">Price ($ per hour)</label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="w-100 btn btn-lg btn-success">Create Court</button>
                <a asp-action="Index" class="w-100 btn btn-lg btn-secondary mt-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
