@model BadmintonCourts.Models.Location

@{
    ViewData["Title"] = "Create Location";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<div class="center-container">
    <div class="center-inner" style="max-width: 700px;">
        <!-- Wider container for more fields -->
        <form asp-action="Create" method="post">
            <h2 class="text-center mb-4">Enter location details</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="LocationName" class="form-control" placeholder="Location Name" />
                <label asp-for="LocationName">Location Name</label>
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Addresss" class="form-control" placeholder="Address" />
                <label asp-for="Addresss">Address</label>
                <span asp-validation-for="Addresss" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Suburb" class="form-control" placeholder="Suburb" />
                <label asp-for="Suburb">Suburb</label>
                <span asp-validation-for="Suburb" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="City" class="form-control" placeholder="City" />
                <label asp-for="City">City</label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="PostalCode" class="form-control" placeholder="Postal Code" />
                <label asp-for="PostalCode">Postal Code</label>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                <label asp-for="PhoneNumber">Phone Number</label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="w-100 btn btn-lg btn-success">Create Location</button>
                <a asp-action="Index" class="w-100 btn btn-lg btn-secondary mt-2">
                    <i class="bi bi-arrow-left-circle me-1"></i> Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
