@model BadmintonCourts.Models.Payment

@{
    ViewData["Title"] = "Create Payment";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<div class="center-container">
    <div class="center-inner" style="max-width: 600px;">
        <!-- Wider container -->
        <form asp-action="Create" method="post">
            <h2 class="text-center mb-4">Enter payment details</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

            <div class="form-floating mb-3">
                <select asp-for="BookingID" class="form-select" asp-items="ViewBag.BookingID"></select>
                <label asp-for="BookingID">Booking</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="PaymentAmount" class="form-control" placeholder="Payment Amount" />
                <label asp-for="PaymentAmount">Payment Amount ($)</label>
                <span asp-validation-for="PaymentAmount" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="PaymentDate" class="form-control" type="date" placeholder="Payment Date" />
                <label asp-for="PaymentDate">Payment Date</label>
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="PaymentStatus" class="form-control" placeholder="Payment Status" />
                <label asp-for="PaymentStatus">Payment Status</label>
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="w-100 btn btn-lg btn-success">Create Payment</button>
                <a asp-action="Index" class="w-100 btn btn-lg btn-secondary mt-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
