@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Badminton Courts</h1>
    <p>Rent <a href="https://en.wikipedia.org/wiki/Badminton">badminton</a> courts here!!!</p>
</div>
