
<h1>Privacy Policy</h1>

<p>
    We collect personal information from you, including:
</p>
<ul>
    <li>Name</li>
    <li>Contact information (e.g., email address, phone number)</li>
</ul>

<p>
    This information is collected in order to:
</p>
<ul>
    <li>Contact our users</li>
    <li>Match users with their booking information</li>
</ul>

<p>
    Providing your information is optional. However, if you choose not to provide contact details, we may be unable to get in touch with you regarding your booking.
</p>

<p>
    We take your privacy seriously. Your information is stored securely in encrypted files and is only accessible by authorized staff members.
</p>

<p>
    You have the right to request a copy of the personal information we hold about you and to ask for corrections if you believe any details are inaccurate.
</p>

<p>
    To make a request, please contact us at:
</p>
<ul>
    <li>Email: <a href="mailto:ac121446@avcol.school.nz">ac121446@avcol.school.nz</a></li>
    <li>Phone: 021 123 45678</li>
    <li>Address: 51 Victor Street, Auckland 1026</li>
</ul>
